[Unit]
Description=Chordia
After=network.target

[Service]
User=www-data
WorkingDirectory=/var/www/chordia
ExecStart=/usr/bin/python3 -m streamlit run /latest/app-latest.py --server.port 8501 --server.address 127.0.0.1 --server.headless true
Restart=always

[Install]
WantedBy=multi-user.target