altair
attrs
audioop-lts
audioread
autochord
tensorflow
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
decorator
filelock
gdown
gitdb
gitpython
idna
jinja2
joblib
jsonschema
jsonschema-specifications
lazy-loader
lazycats
librosa
llvmlite
markupsafe
msgpack
narwhals
numba
numpy
packaging
pandas
pillow
pip
platformdirs
pooch
protobuf
pyarrow
pycparser
pydeck
pysocks
python-dateutil
pytz
referencing
requests
rpds-py
scikit-learn
scipy
setuptools
six
smmap
soundfile
soupsieve
soxr
standard-aifc
standard-chunk
standard-sunau
streamlit
tenacity
threadpoolctl
toml
tornado
tqdm
typing-extensions
tzdata
urllib3